<section class="card">
    <h2 class="text-center section-title">Seleziona la materia</h2>
    
    <div class="grid-buttons">
        <button onclick="navigate('quiz', 'sdi')" class="btn-primary">Modulo Utente SDI</button>
    </div>
</section>

<section class="card">
    <details>
        <summary class="text-center summary-title">
            Esami Fatti ✅
        </summary>
        
        <div class="grid-buttons">
            <button onclick="navigate('quiz', 'crim')" class="btn-secondary">Criminalistica</button>
            <button onclick="navigate('quiz', 'prociv')" class="btn-secondary">Procedura Civile</button>
            <button onclick="navigate('quiz', 'dircom')" class="btn-secondary">Diritto Commerciale</button>
            <button onclick="navigate('quiz', 'dirue')" class="btn-secondary">Diritto UE</button>
            <button onclick="navigate('quiz', 'tecinv2')" class="btn-secondary">Tecniche Investigative</button>
        </div>
    </details>
</section>

<section class="card">
    <h2 class="text-center text-primary">Countdown al Traguardo</h2>
    <div id="full-countdown" class="text-center countdown-display"></div>
    <div class="actions-center">
        <input type="date" id="date-input" class="btn-secondary">
        <button id="set-date-btn" class="btn-primary">Personalizza</button>
    </div>
</section>